body {
  background-color: #F40009;
  font-family: 'Lobster', cursive;
}

h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 7rem;
  background-color: rgba(0, 0, 0, 0.534);
  border-radius: 1rem;
  text-shadow: 5px 5px black;
  box-shadow: 3px 3px 10px black;
}

.container {
  display: flex;
  justify-content: center;
}

.imgCoca {
  transition: filter 0.3s ease-in-out;
  cursor: pointer;
}

.imgCoca:hover {
  filter: drop-shadow(0 10px 10px rgb(0, 0, 0));
}